# INTRODUCTION TO PYTHON PROGRAMMING

- Why python? 
- Interpreter 
- Compiler 
- Print function
- Variables
- Naming Conventions
- Operator
Mode of translation: Python is interpreter based

# TYPE OF VALUES

#Mind Maps in IPAD

In [4]:
print(True)

True

In [5]:
type(67)

int

In [6]:
type(633.8)

float

In [8]:
type("Pakistan")

str

In [11]:
type(True)

bool

In [12]:
print(12,"Moon",True,90.88)

12 Moon True 90.88

In [13]:
print(12,"Moon",True,90.88,sep="")

12MoonTrue90.88

In [14]:
print(12,"Moon",True,90.88,sep="    ")

12    Moon    True    90.88

# ESCAPE CHAARACTERS

In [16]:
print("My name is Hamza Moon\nI am a student of PIAIC\nAnd I am studying CA")

My name is Hamza Moon
I am a student of PIAIC
And I am studying CA

In [19]:
print("My name is Hamza Moon",end=" ")
print("I am a student of PIAIC",end=" ")
print("And I am studying CA",end=" ")

My name is Hamza Moon I am a student of PIAIC And I am studying CA

In [20]:
print("My name is Hamza Moon\\I am a student of PIAIC\\And I am studying CA")

My name is Hamza Moon\I am a student of PIAIC\And I am studying CA

In [21]:
print("My name is Hamza Moon\bI am a student of PIAIC\bAnd I am studying CA")

My name is Hamza MoonI am a student of PIAICAnd I am studying CA

In [22]:
print("My name is Hamza Moon\oooI am a student of PIAIC\oooAnd I am studying CA")

My name is Hamza Moon\oooI am a student of PIAIC\oooAnd I am studying CA


# VARIABLES

variables also called identfiers
variables are containers/reservoirs to store values

Marks is variable identifer
90 is an Integer 
= Assignment operator
A integer value 90 is assigned to marks

In [24]:
marks = 90

In [25]:
print(marks)

90

In [26]:
marks + 10

100

In [27]:
id(marks)

1427164704

In [28]:
type(marks)

int

In [29]:
marks - 100

-10

In [30]:
marks

90

In [31]:
marks = marks + 100  #90+100

In [32]:
per = 90

In [33]:
per + marks

280

In [34]:
per + marks - 10

270

In [35]:
Alpha = True

In [36]:
id(True)

1426775216

In [37]:
type(Alpha)

bool

In [38]:
id(Alpha)

1426775216

# VARIABLE NAMING CONVENTIONS

Mind map on ipad

# OPERATORS

    - (+) addition
    - (+) concatenation
    - (-) subtract
    - (*) multiply
    - (/) divide  (Flaot division)
    - (//) divide (Integer Division)
    - (%) modulus (Remainder in a divsion)
    - > Greater than
    - < Less than
    - <= Greater than equal 
    - >= Less than equal 
    - == Equal to 
    - != Not equal to

In [40]:
3 + 4 + 9

16

In [41]:
"Hamza" + "Moon"

'HamzaMoon'

In [42]:
10*77

770

In [43]:
10-3

7

In [44]:
1000/4     #Float Division

250.0

In [45]:
1000//4   #Integer division

250

In [46]:
300%3

0

In [48]:
300%3 == 0   #Does that value equals to 0?

True

In [49]:
100<101

True

In [50]:
100<101

True

In [52]:
89<88

False

In [60]:
b=100
name="Moon"
print(name)

Moon

In [61]:
print(b)

100