# Conditional Statments
    Type Casting
    User input
    string concatenation
    string formatusing >>(format(), f)
    String
    if statement
    else statement

# TYPE CASTING

In [1]:
#int, float, str, bool

In [2]:
marks = 95

In [3]:
print(type(marks))

<class 'int'>

In [4]:
float(marks)

95.0

In [5]:
percentage = 68.32

In [6]:
type(percentage)

float

In [7]:
int(percentage)

68

In [8]:
age = 21

In [9]:
print(type(age))

<class 'int'>

In [10]:
int(age)

21

In [11]:
float(age)

21.0

In [12]:
int(age)

21

In [13]:
name = "Hamza Moon"

int(name)
#this will give error because name is not an integer

float(name)
#this will give error because name is not an float

In [19]:
chr(76), ord("A")

('L', 65)

# USER INPUT
     console input
     run time input
     user input from console will always be an string value

In [20]:
#Input Function

In [21]:
input()

Hamza Moon

'Hamza Moon'

In [22]:
my_name = input("What is my name!")

What is my name!Hamza Moon

In [23]:
my_name

'Hamza Moon'

In [24]:
my_age = input("How old i am")

How old i am21

In [25]:
my_age

'21'

# String Concatenation (+)

In [26]:
#Joining of two string together

In [28]:
firstname = "Hamza"
lastname = "Moon"
email = "m.hamzamunaf@gmail.com"
contact = '03483217930'

In [29]:
firstname + lastname

'HamzaMoon'

In [35]:
email+contact

'm.hamzamunaf@gmail.com03483217930'

Hamza + 56
#Error
#Cannot concatenate int with str

In [43]:
name = input('enter your name')
yob = input('Enter your birthdate')
print("My name is "+ name +" and my year of birth is" + yob)

enter your nameHamza Moon
Enter your birthdate4/11/2001
My name is Hamza Moon and my year of birth is4/11/2001

In [40]:
# year of birth although a integer value 
# but due to console input it will be assigned as string value

In [41]:
student_name = input("Enter your name")
student_age = int(input("Enter your age"))

print("Your name is "+student_name+" and your year of birth is "+ str(student_age))

Enter your nameHamza Moon
Enter your age21
Your name is Hamza Moon and your year of birth is 21

In [42]:
#if you want to print int with str so add str(with int vaulue)

# String Formation
    - format(value1, value2, ...)
    - it is easier , simpler than concatenation  
    - it doent need type casting

In [44]:
my_name = input("Enter your name")
my_age = input("Enter your age")
print("Student name is {} and the student age is {}".format(my_name,my_age))

Enter your nameHamza Moon
Enter your age21
Student name is Hamza Moon and the student age is 21

In [46]:
"Hamza {} Moon".format("Munaf")

'Hamza Munaf Moon'

In [47]:
# {1}{2}{3} are placeholders and you can number these brackets when you are assigning .format(1,2,3)

# STRING FORMAT BY f

In [49]:
my_name = input("Enter your name")
my_age = int(input("Enter your age"))
print(f"Student name in {my_name} and the student age is {my_age}")

Enter your nameHamza Moon
Enter your age21
Student name in Hamza Moon and the student age is 21

In [50]:
#no need to put str(before int value) to overcome error

# String 
   - string is immutable (unchangeable)

In [51]:
institute = "ICAP"

In [52]:
type(institute)

str

In [53]:
institute.capitalize()

'Icap'

In [54]:
institute.lower()

'icap'

In [55]:
institute.upper()

'ICAP'

In [57]:
institute.count("ICAP")

1

In [58]:
ins='Presidentail Initiative for AI and computing'
#    01234567890123456789012345678901234567890123

In [59]:
ins[8]

't'

In [60]:
ins[9]

'a'

In [61]:
ins[20]

'i'

In [62]:
institute.find('C')

1

In [63]:
institute.find('I')

0

In [64]:
institute.find('M')

-1

In [65]:
#-1 does not exist

In [66]:
institute.find("I",2)

-1

In [67]:
institute.isalnum()

True

In [68]:
"2".isdigit()

True

In [69]:
len("Pakistan")

8

In [70]:
"Hamza"=="Hamza"

True

In [71]:
"Hamza"=="Hamza "

False

In [72]:
'Hamza'.lstrip()

'Hamza'

In [73]:
'Hamza'.rstrip()

'Hamza'

In [74]:
"   Hamza   ".strip()

'Hamza'

In [75]:
ins

'Presidentail Initiative for AI and computing'

In [76]:
ins[0]

'P'

ins[0] = "p"
#immutable
#unchangeable

In [82]:
designation="President"

In [94]:
designation=designation.upper()

In [90]:
designation

'PRESIDENT'

In [91]:
designation.upper()

'PRESIDENT'

In [92]:
#REPLACE

In [97]:
smallp_President = designation.replace("P","p")

# If statement
- running a block of code when some specific condtion is satisfied.

In [100]:
age = int(input('Enter age'))
if age > 18:
        print("Young")

Enter age21
Young

In [103]:
age = int(input('Enter age'))
if age < 18:
        print("Young")

Enter age21

In [105]:
Iphone_price = int(input("Whats the price of Iphone 13"))
if Iphone_price < 300000:
        print("I'll by this iphone")

Whats the price of Iphone 13280000
I'll by this iphone

In [107]:
Iphone_price = int(input("Whats the price of Iphone 13"))
if Iphone_price < 300000:
        print("I'll by this iphone")

Whats the price of Iphone 13420000

# ELSE BLOCK

In [108]:
Iphone_price = int(input("Whats the price of Iphone 13"))
if Iphone_price < 300000:
        print("I'll by this iphone")
else:
    print("I'll buy iphone 12")

Whats the price of Iphone 13420000
I'll buy iphone 12